body {
  margin: 0;
}
main {
  position: relative;
  background-image: url("assets/GZ03.jpg");
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.header {
  background-color: black;
  display: flex;
  width: 100%;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.nav{
  flex-wrap: nowrap;
}
.nav-menu {
  padding: 0;
  margin: 1%;
  font-size: large;
}
.link,
.nav-menu_button {
  text-decoration: none;
  display: inline-block;
}
.link:hover {
  text-decoration: none;
  color: white;
}
.resaltado {
  color: red;
}
.footer {
  display: flex;
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: large;
}