<div class="container contenedor2">
    <div class="cardProduct" *ngFor="let product of productsList">
        <img id="imgProduct" alt="Imagen producto" [src]="product.imagen">
        <h3>{{product.producto}}</h3>
        <div class="flex">
            <p class="categoria" *ngIf="!product.agotado">{{product.categoria}}</p>
            <p class="agotado" *ngIf="product.agotado">AGOTADO</p>
        </div>
        <button class="btn btn-primary btn-crud" [routerLink]="['/productos', product.producto]"><span class="text">Ver producto</span><span class="icon"><i class="fas fa-gamepad"></i></span></button>
    </div>
    <button class="botonCarrito" (click)="goShoppingCar()"><i class="fas fa-shopping-cart"></i></button>
    <ngx-loading [show]="loading"></ngx-loading>
</div>
