.contenedor2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
}
.cardProduct {
    width: 300px;
    margin: 3% 3%;
    padding: 2%;
    background: rgba(0, 0, 0, 0.651);
    color: white;
    border: 1px solid white;
    border-radius: 30px;
}
.cardProduct .categoria {
    font-weight: bold;
}
.cardProduct .flex {
    display: flex;
    justify-content: space-between;
}
.agotado {
    color: red;
    font-size: large;
    font-weight: bold;
}
.botonCarrito {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    position: fixed;
    bottom: 10vh;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
    background-color: red;
    border: 5px solid white;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.5s;
}
.btn-crud{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
}
.btn-crud, .btn-crud span {
    transition: 200ms;
}
.btn-crud .icon {
    position: absolute;
    border-left: 1px solid;
    transform: translateX(110px);
    height: 40px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.btn-crud:hover .text {
    color: transparent;
}
.btn-crud:hover .icon {
    width: 135px;
    border-left: none;
    transform: translateX(0);
}
.botonCarrito:hover{
    cursor: pointer;
    transform: scale(1.3,1.3);
}